@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Font */

body {
    font-family: 'Poppins', sans-serif;
    color:#22262A;
}


a {
    color:#22262A;
}

/* Container */

.container {
    margin: 0 auto;
    max-width: 1150px;
    padding:0 10px;
}

/* btn-primary */

.btn-primary {
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    background-color: #22262A;
    padding: 10px 28px;
    line-height: 27px;

    transition: background-color 0.15s ease-in;
}

.btn-primary:hover {
    background-color: #3a6ca5;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}

.header__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    white-space: nowrap;
}



/* Nav */

.nav-list {
    display:flex;
    font-size: 18px;
    column-gap: 25px; /* Отступ между ссылками */
    row-gap: 20px;    /* Перенос вниз (расстояние)*/
    flex-wrap: wrap;  /*      Адоптация           */
    
    
}

.header-nav__item a {
    color:#22262A;
}

.header-link {
    display: flex;
    column-gap: 30px;
    max-width: 70%;
}

.header a:hover,
.header button:hover {
    color:#3a6ca5;
    
}

.material-icons-outlined {
    color:#22262A;
}


/* Banner */

.banner-wrap {
    padding: 425px 0 100px;
    background: url(../img//img-header/1\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner {
    margin-top: 120px;
    max-width: 460px;
    margin-left:auto;
}

.banner__text {
    font-weight: 500;
    font-size: 19px;
    line-height: 27px;
    margin-left: auto;
}
.banner__trend {
    font-weight: 700;
    font-size: 80px;
    line-height: 120px;
}

.banner-link {
    width: 150px;
    padding:5px 25px;
}

.banner-link-wrap {
    
    padding-top: 31px;
    display: flex;
    column-gap: 30px;
    text-align: center;
    
}


/* Catigory */

.section {
    padding-top: 115px;
}

.catigory {
    display: grid;
    grid-template-areas:
    "img1 img1 img4 img4"
    "img2 img3 img4 img4";
    gap:25px;
}

.category__link {
    position: relative;
    cursor: pointer;
    min-height: 285px;
    
}

.category__link:hover::before {
    position: absolute;
    content:"";
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /50%);
}

.category__link:nth-child(1) {
    grid-area: img1;
    background: url(../img/img-catagory/2.jpg) 50% 0%/cover no-repeat;
    
    
}

.category__link:nth-child(2) {
    grid-area: img2;
    background: url(../img/img-catagory/3.jpg) 50% 0%/cover no-repeat;
    
    
}

.category__link:nth-child(3) {
    grid-area: img3;
    background: url(../img/img-catagory/4.jpg) 50% 0%/cover no-repeat;
    
    
}

.category__link:nth-child(4) {
    grid-area: img4;
    background: url(../img/img-catagory/5.jpg) 50% 0%/cover no-repeat;
    
}

.category__name {
    display: none;
    position: absolute;
    bottom:25px;
    left:25px;
    background-color: #fff;
    font-weight: 500;
    font-size: 18px;
    
    padding:5px 20px;
}

.category__link:hover .category__name {
    display: block;
}


/* WOMEN'S FASHION */


.new-product__wrap {
    display: flex;
    column-gap:19px;
    flex-wrap: wrap;
    row-gap: 30px;

}

.section__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}

.section__subtitle {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding-top:15px;
    padding-bottom: 65px;
}

.product__brand {
    font-weight: 300;
    font-size: 15px;
    color:#22262A;
    padding-top:38px;
    padding-bottom: 5px;
}

.product__name {
    font-weight: 600;
    font-size: 15px;
}

.product-cost {
    display: flex;
    column-gap:50px;
    padding-top:9px;
    
}

.product-cost__old {
    color:#22262A;
    text-decoration: line-through;
    font-weight: 400;
}

.product-cost__new {
    color:#CF2929;
    font-weight: 400;
}


/* Style */

.style {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 700px;
}

.style-left {
    width:49%;
    height: 100%;
    background: url(../img/img-avone/14.jpg) 50% 100%/550px no-repeat;
}

.style-right {
    position: relative;
    width:52%;
    height: 100%;
    background: url(../img/img-avone/15.jpg) 50% 0/515px no-repeat;
}

.style-right::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width:252px;
    height: 303px;
    background:#fff url(../img/img-avone/16.jpg) 100% 100%/227px no-repeat;

}

.style__link {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    right: 260px;
    font-weight: 500;

}

.style__link:hover {
    color:#3a6  ca5;
}

.style__link::after {
    position: absolute;
    content:"";
    bottom:-5px;
    right:0;
    width: 100%;
    height: 1.5px;
    background-color:#22262A;
}

/* Collection */

.collection-wrap {
    background: url(../img/img-tachen/17\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.collection {
    margin-right: auto;
    margin-left: 0;
}

.collection-section {
    padding-top: 120px;
}


/* Footer */

.footer-main {
    padding: 115px 0 105px;
    background-color: #F2F8FC;
}

.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 17px;
}

.footer-text {
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 41px;
}

.footer-location {
    display: flex;
    column-gap: 26px;
    text-align: center;
    padding-bottom: 16px;
}

.f-location__svg {
    position: relative;
    top:3px;
}

.footer-social {
    display: flex;
    column-gap: 20px;
    text-align: center;
    padding-top: 16px;
}

.footer__title {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 25px;
}

.footer-form {
    background-color: #fff;
}

.footer__email {
    position: relative;
    display: inline-block;
    margin-bottom: 4px;
    
}

.footer__email:hover {
    color:#3a6ca5;
}

.footer__email::after {
    position: absolute;
    content:"";
    bottom:-3px;
    left:0;
    width:100%;
    height: 1.5px;
    background-color: #22262A;
    
}

.footer__num:hover {
    color:#3a6ca5;
}

.footer-form {
    display: flex;
    justify-content: space-between;
    width:530px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 11px 25px;
}

.footer-form__btn {
    font-weight: 600;
}

.footer-form__input {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    color:inherit;
    border: 1px solid transparent;
}




.footer-nav-wrap {
    display: flex;
    justify-content: space-between;
}

.footer-nav__title {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 27px;
    padding-top: 70px;
}

.footer-nav__item {
    padding-bottom: 21px;
}

.footer-copyright {
    text-align: center;
    background-color: #E7F5F8;
    padding: 35px 0;
}


.menu-icon {
    display: none;
}

/* Media */


.menu-icon-wrapper {
    /*   background: red; */
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .menu-icon {
      position: relative;
      width: 30px;
      height: 5px;
      background-color: black;
    }
    
    .menu-icon::before {
      position: absolute;
      right: 0;
      top: -10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: black;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon::after {
      position: absolute;
      left: 0;
      top: 10px;
      content: '';
      width: 30px;
      height: 5px;
      background-color: black;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    
    }
    
    .menu-icon.menu-icon-active {
      background-color: transparent;
    }
    
    .menu-icon.menu-icon-active::before {
      transform: rotate(45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    
    .menu-icon.menu-icon-active::after {
      transform: rotate(-45deg);
      top: 0;
      transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
    



.none {
    display: none;
}



@media (max-width: 850px) {

    /* Header */

    .header-link {
        display: block;
    }
    .header-nav__item a {
        font-size: 15px;
    }

    .header__title {
        font-size: 20px;
        padding-right: 10px;
    }

    /* women */

    .new-product__item {
        margin-left: auto;
        margin-right: auto;
    }

    .banner {
        text-align: center;

    }

    @media (max-width:1300px) {

        .new-product__item {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer-section {
        display: flex;
        flex-direction: column;
    }

    .footer-left {
        text-align: center;
    }

    .footer-location {
        position: relative;
        
    }

    .footer-social {
        text-align: center;
        display: block;
        
    }
    
    .footer-text {
        font-size: 13px;
    }

    .footer-location {
        display: block;
    }

    .footer-form {
        width:100%;
    }

    .social__link {
        margin-right: 20px;
    }

    .footer-right {
        text-align: center;
    }
}



@media (max-width: 470px) {
    .nav-list {
        display: none;
    }

    .header-link {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .banner-wrap {
        padding-top:0;
    }

    .banner__text {
        font-size: 19px;
    }

    .banner__trend {
        font-size: 10px;
    }

    .menu-icon-wrapper {
        margin-left:180px;
    }

    .banner__text {
        text-align: center;
        font-size: 20px;
       
      
    }

    .banner__trend {
        font-size: 40px;
       
    }

    .banner {
        text-align: center;
        padding-top: 100px;
    }

    

    .style__link {
        color:#fff;
    }
   
    .style__link::after {
        background-color:#fff;
    }

    .catigory {
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 350px) {

    /* banner */
    .nav-list {
        display: none;
    }

    .header-link {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    

    .banner__text {
        font-size: 18px;
    }

    .banner__trend {
        font-size: 30px;
    }

    .menu-icon-wrapper {
        margin-left:50px;
    }

    .banner-link {
        width: auto;
        padding: 5px 15px;
        border-radius: 15px;
    }

    
}

@media (max-width:1150px) {
    .style-left {
        width:45%;
    }

    .section__subtitle {
        padding-bottom: 40px;
        font-size: 13px;
    }

    .section__title {
        font-size: 17px;
    }

    .style-right::after {
        
        width:240px;
        height: 293px;
        
    
    }
}


